{{ partial "header.html" . }}

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m12 s12">
        <div class="card-panel">
          <h4>{{ .Title }}</h4>
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>

  <div class="section">

{{ partial "content.html" . }}

{{ partial "pagination.html" .Paginator }}

  </div>
</div>

{{ partial "footer.html" . }}
